<launch>
  <!-- load configuration -->
  <rosparam command="load" file="$(find imu_sensor_controller)/imu_sensor_controller.yaml" />

  <!-- spawn controller -->
  <node name="imu_sensor_controller_spawner" pkg="controller_manager" type="spawner" output="screen" args="imu_sensor_controller" />
</launch>