<launch>
  <!-- start world -->
  <include file="$(find gazebo_worlds)/launch/empty_world.launch"/>

  <!-- load robot -->
  <param name="robot_description"
         command="$(find xacro)/xacro '$(find diff_drive_controller)/test/skidsteerbot.xacro'" />

  <!-- Start skidsteerbot -->
  <node name="skidsteerbot"
      pkg="diff_drive_controller"
      type="skidsteerbot"/>

  <!-- Load controller config -->
  <rosparam command="load" file="$(find diff_drive_controller)/test/skidsteerbot_controllers.yaml" />

  <!-- Spawn controller -->
  <node name="controller_spawner"
        pkg="controller_manager" type="spawner" output="screen"
        args="skidsteerbot_controller" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_single_link" pkg="gazebo" type="spawn_model" args="-urdf -param robot_description -model skidsteerbot -z 0.5" respawn="false" output="screen" />

</launch>
