<launch>
  <!-- start world -->
  <include file="$(find gazebo_worlds)/launch/empty_world.launch"/>

  <!-- start controller manager (rviz) -->
  <include file="$(find pr2_controller_manager)/controller_manager.launch"/>

  <!-- load robot -->
  <param name="robot_description" textfile="$(find diff_drive_controller)/test/diffbot.urdf" />


  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_single_link" pkg="gazebo" type="spawn_model" args="-urdf -param robot_description -model pr2 -z 0.5" respawn="false" output="screen" />

</launch>

