<launch>
  <!-- Load ackermann_steering_bot model -->
  <param name="robot_description"
         command="$(find xacro)/xacro '$(find ackermann_steering_controller)/test/common/urdf/ackermann_steering_bot.xacro'" />

  <!-- Load controller config -->
  <rosparam command="load" file="$(find ackermann_steering_controller)/test/common/config/ackermann_steering_bot_controllers.yaml" />

  <!-- Load ackermann_steering_bot config -->
  <rosparam command="load" file="$(find ackermann_steering_controller)/test/common/config/ackermann_steering_bot_hw_sim.yaml" />

  <!-- Start ackermann_steering_bot -->
  <node name="ackermann_steering_controller_ackermann_steering_bot"
        pkg="ackermann_steering_controller"
        type="ackermann_steering_controller_ackermann_steering_bot"/>

  <!-- Spawn controller -->
  <node name="controller_spawner"
        pkg="controller_manager" type="spawner" output="screen"
        args="ackermann_steering_bot_controller" />

  <!-- rqt_plot monitoring -->
  <!--
  <node name="ackermann_steering_bot_pos_monitor"
        pkg="rqt_plot"
        type="rqt_plot"
        args="/ackermann_steering_bot_controller/odom/pose/pose/position/x" />
  <node name="ackermann_steering_bot_vel_monitor"
        pkg="rqt_plot"
        type="rqt_plot"
        args="/ackermann_steering_bot_controller/odom/twist/twist/linear/x" />
  <node name="ackermann_steering_bot_ang_vel_monitor"
        pkg="rqt_plot"
        type="rqt_plot"
        args="/ackermann_steering_bot_controller/odom/twist/twist/angular/z" />
  -->
</launch>
