<launch>
  <!-- start world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>

  <!-- load robot -->
  <param name="robot_description"
      command="$(find xacro)/xacro '$(find ackermann_steering_controller)/test/common/urdf/ackermann_steering_bot.xacro'" />

  <!-- Load controller config -->
  <rosparam command="load" file="$(find ackermann_steering_controller)/test/common/config/ackermann_steering_bot_controllers.yaml" />

  <!-- Load ackermann_steering_bot config -->
  <rosparam command="load" file="$(find ackermann_steering_controller)/test/common/config/ackermann_steering_bot_hw_sim.yaml" />

  <!-- Start ackermann_steering_bot -->
  <node name="ackermann_steering_controller_ackermann_steering_bot"
        pkg="ackermann_steering_controller"
        type="ackermann_steering_controller_ackermann_steering_bot"/>

  <!-- Spawn controller -->
  <node name="controller_spawner"
        pkg="controller_manager" type="spawner" output="screen"
        args="ackermann_steering_bot_controller" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
	args="-urdf -model ackermann_steering_bot -param robot_description -z 0.5"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find ackermann_steering_controller)/test/common/rviz/display.rviz"/>
</launch>
