<launch>
  <!-- Load steerbot model -->
  <param name="robot_description"
         command="$(find xacro)/xacro '$(find steer_drive_controller)/test/common/urdf/steerbot.xacro' --inorder" />

  <!-- Load controller config -->
  <rosparam command="load" file="$(find steer_drive_controller)/test/common/config/steerbot_controllers.yaml" />

  <!-- Load steerbot config -->
  <rosparam command="load" file="$(find steer_drive_controller)/test/common/config/steerbot_hw_sim.yaml" />

  <!-- Start steerbot -->
  <node name="steer_drive_controller_steerbot"
        pkg="steer_drive_controller"
        type="steer_drive_controller_steerbot"/>

  <!-- Spawn controller -->
  <node name="controller_spawner"
        pkg="controller_manager" type="spawner" output="screen"
        args="steerbot_controller" />

  <!-- rqt_plot monitoring -->
  <!--
  <node name="steerbot_pos_monitor"
        pkg="rqt_plot"
        type="rqt_plot"
        args="/steerbot_controller/odom/pose/pose/position/x" />
  <node name="steerbot_vel_monitor"
        pkg="rqt_plot"
        type="rqt_plot"
        args="/steerbot_controller/odom/twist/twist/linear/x" />
  <node name="steerbot_ang_vel_monitor"
        pkg="rqt_plot"
        type="rqt_plot"
        args="/steerbot_controller/odom/twist/twist/angular/z" />
  -->
</launch>
